.audio-btn {
    position: fixed;
    right: 24px;
    bottom: 24px;
    padding: 5px 6px 0px 6px;
    border-radius: 25%;
    color: #e8e3dd;
    background: linear-gradient(0deg, #734836, transparent), linear-gradient(126deg, #734836, transparent);
    border: 2px double #e8e3dd;
}