.root-landing-img{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../../public/images/personal/YPS00815.JPG");
    // background-image: url("../../../../public/images/personal/YPS00815.JPG");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    .mbg{
        height: 100%;
        text-align: center;
        align-content: center;
        color: white;
        transition: all 1s ease;
        font-size: 5rem;
    }
}

.hands-together-img{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../../public/images/personal/YPS00886.JPG");
    // background-image: url("../../../../public/images/personal/YPS00815.JPG");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

.meet-couple-img{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../../public/images/personal/YPS00943.JPG");
    // background-image: url("../../../../public/images/personal/YPS00815.JPG");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

.meet-bride-img{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url("../../../../public/images/personal/YPS01040.JPG"),
    url("../../../../public/images/pattern-1.png") ;
    // background-image: url("../../../../public/images/personal/YPS00815.JPG");

    background-size: cover, contain;
    background-position: inherit;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    .bit {
        text-align: right;
        padding: 10% 4%;
    }
}
.meet-groom-img{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url("../../../../public/images/personal/YPS01060.JPG"),
    url("../../../../public/images/pattern-1.png");
    // background-image: url("../../../../public/images/personal/YPS00815.JPG");

    background-size: cover, contain;
    background-position: right;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    .git{
        padding: 4%;
    }
}

.events-container {
  background-image: url("../../../../public/images/pattern-3.png");
  text-align: center;
  color: white;
  align-content: space-evenly;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.things-to-know {
  background-image: url("../../../../public/images/pattern-3.png");
  text-align: center;
  color: white;
  align-content: space-evenly;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.memories-container {
  padding: 6% 6% 12% 6%;
  background-image: url("../../../../public/images/pattern-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  .msg {
    text-align: center;
  }
  
  .pad {
    padding-top: 15%;
  }
}

.content {
    position: absolute;
    top: 5%;
    color: ivory;
    text-align: center;
}
.wed-title {
    font-family: 'Tangerine', cursive;
    
    font-size: 5rem;
    // opacity: 0;
    font-weight: 900;
    // min-height: 300px;
    // transform: translateY(60px);
    transition: all 0.8s ease;
}

.gtl-po {
    width: 100%;
    margin-top: 100vh;
    text-align: center;
    color: white;
    transition: all 1s ease;
    font-weight: 600;
    .ost {
    font-size: 2.25rem;
    font-weight: bold;
    /* text-align: center; */
}

  .g-l{
      height: 100px;
      margin-bottom: 100px;
  }

  p {
    font-size: 1.875rem;
    padding: 0% 5%;
  }

  .nm {
      font-family: "Tangerine", cursive;
      font-size: 7rem;
  }
  .t {
    padding-right: 4%;
  }

}

// .section-1 {
//   mask-image: linear-gradient(
//     to bottom,
//     black 70%,
//     transparent
//   );

//   -webkit-mask-image: linear-gradient(
//     to bottom,
//     black 70%,
//     transparent
//   );
// }

// .section-2 {
//   clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
// }

// .section-2 {
//   margin-top: -120px;
//   position: relative;
//   z-index: 2;
// }

// .section-2::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: rgba(0,0,0,0.3);
// }

.down-fade::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50px;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1)
  );
}
.up-fade::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0),
    rgba(0,0,0,1)
  );
}

.photo-frame-up::before,
.photo-frame-down::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
  border: 4px solid #c9a36b;
}

.photo-frame-up::before {
  top: 0;
  left: 0;

  border-right: none;
  border-bottom: none;
}

.photo-frame-down::after {
  bottom: 0;
  right: 0;

  border-left: none;
  border-top: none;
  justify-self: self-end;
}

.slideshow {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 450px;
  margin: auto;
  // overflow: hidden;
  padding: 4% 0;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
   border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* modern shadow */
  // box-shadow: 8px 8px 16px rgba(0,0,0,0.2),
  //             -8px -8px 16px rgba(255,255,255,0.7);

  border: 4px double #333;
  // border-radius: 10px;
  // padding: 4px; /* space between inner and outer border */


}

.slideshow img.active {
  opacity: 1;
}
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;

  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dots span:hover {
  transform: scale(1.2);
}

.dots span.active {
  background-color: white;
  transform: scale(1.3);
}

.countdown-t {
    font-family: "Cormorant Upright", serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: white;
}

@media (min-width: 576px) {
  .slideshow img {
    object-fit: contain;
  }
}
