<div #handsTogether class="down-fade hands-together-img" >
    <div class="photo-frame-up photo-frame-down"></div>
</div>
<div #hero class="hero root-landing-img up-fade down-fade" >
    <div class="photo-frame-up photo-frame-down"></div>
    <div class="mbg fade-in" [ngClass]="{'show': !isparrallaxVisible}">
        <div>Meet</div>
        <div>the</div>
        <div>Bride & Groom</div>
    </div>


</div>
<!-- <div #meetTheCouple class="meet-couple-img up-fade down-fade" ></div> -->
<div #meetTheBride class="meet-bride-img up-fade" >
    <h1 class="bit">tareef ke 2 shabd</h1>
    <div class="photo-frame-up"></div>

</div>
<div #meetTheGroom class="meet-groom-img down-fade" >
    <h1 class="git">tareef ke 2 shabd</h1>
    <div class="photo-frame-down"></div>
</div>

<div #memoriesSS class="memories-container">
    <div class="slideshow" 
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)">
        <div>
            <img
                *ngFor="let img of images; let i = index"
                [src]="img"
                [class.active]="i === currentIndex"
            />
        </div>

        <div class="dots">
            <span
                *ngFor="let img of images; let i=index"
                (click)="currentIndex=i"
                [class.active]="i===currentIndex">
            </span>
        </div>
    </div>
    <div class="countdown-t">
        <span *ngIf="countdown?.days">{{countdown?.days}} days, </span> 
        {{countdown?.hours | number:'2.0-0'}} :
        {{countdown?.minutes | number:'2.0-0'}} :
        {{countdown?.seconds | number:'2.0-0'}}
    </div>
</div>

<div #content class="content fade-out" [ngClass]="{'hide': !isparrallaxVisible}">
    <div class="wed-title col-xs-8 offset-xs-2 col-sm-12">
        <span>Jay </span> 
        <span>Weds </span> 
        <span>Toral </span> 
    </div>
    <!-- <div class="tj-logo"></div> -->
    <div class="gtl-po">
        <p class="ost">Om Shree Ganeshay namah</p>
        <img class="g-l" [src]="glImg" alt="ganesha" srcset="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <p>Mr. Deepak Jayantilal Solanki & Mrs. Heena Deepak Solanki Request your gracious presence on the auspicious occasion of the Wedding ceremony of their son</p>
                    <div class="nm">Jay</div>
                    <p>with</p>
                    <div class="nm">Toral</div>
                    <p>(D/o. Mr. Harshad Tribhuvandas Makani & Mrs. Mamta Harshad Makani)</p>
                </div>

            </div>

        </div>
    </div>
    <div>
       
    </div>
</div>

