/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    // background-color: #083b16;
}

.tj-logo {
    width: 120px;
    height: 120px;
    background-image: url("../public/svg/T&J-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

html {
  font-size: clamp(6px, 1vw + 0.5rem, 10px);
}

@media (min-width: 480px) {
  /* CSS for large mobiles and up */
    html {
        font-size: 8px;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

/* Styles for large laptops and desktops (min-width 1200px) */
@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}